.heading{
  background-color: black;
  color: white;
  height: 250px;
  text-align: center;
  padding-top: 90px;
}
.card{
  margin: 20px;
}
.footer{
  color: white;
  background-color: black;
  text-align: center;
  height: 200px;
  padding-top: 90px;
}